/*

# Base files
!.gitignore
!README.md

# Unneeded stuff
**/.DS_Store
**.log

# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named log
log/

# Include BepInEx core
!BepInEx
BepInEx/*

# BepInEx Plugins 
!BepInEx/plugins
BepInEx/plugins/DanW-SPTQuestingBots/log/
BepInEx/plugins/DrakiaXYZ-QuestTracker/config/*

# BepInEx Config
!BepInEx/config

# BepInEx Config Ignore List
BepInEx/config/BepInEx.cfg
BepInEx/config/FOVFix.cfg
BepInEx/config/Tyfon.UIFixes.cfg
BepInEx/config/com.Amanda.Graphics.cfg
BepInEx/config/xyz.drakia.botdebug.cfg

# Fika Ignore List
#BepInEx/config/com.fika.core.cfg

# Include User/Mods/
!User
User/*
!User/Mods

# User Mod Ignore List
user/mods/MoxoPixel-BlackCore
user/mods/MoxoPixel-WhiteCore
user/mods/MoxoPixel-TacticalGearComponent
user/mods/ACOG4Life-OpticRework-SPT-380
user/mods/WTT-PackNStrap
user/mods/EpicRangeTime-Weapons
user/mods/RaiRaiTheRaichu-AllTheClothes-1.5.0
user/mods/bakahashi-pityloot/database
user/mods/leaves-loot_fuckery/output
user/mods/SPT-Realism/ProfileBackups
# Raid review currently isn't Fika Compatible so we will ignore this for now
user/mods/raid_review__0.0.3/data

# Ignore MPT Updater
user/mods/MPT.Updater.exe