## Settings file was created by plugin utjan.HoFImprovements v1.1
## Plugin GUID: com.utjan.HoFImprovements

[Hall of Fame Improvements]

## Enable Hall of Fame Improvements
# Setting type: Boolean
# Default value: true
1. Enable Mod = true

## Multiplies the base bonus to Hall of Fame skill leveling bonus gained from non-dogtag items. 0.5 = half bonus gain. 2.0 = double bonus gain
# Setting type: Double
# Default value: 1
# Acceptable value range: From 0 to 5
Trophy skill bonus multiplier = 1

## Multiplies the base bonus to Hall of Fame skill leveling bonus gained from dogtags. Set to 1 for default EFT bonus
# Setting type: Double
# Default value: 2
# Acceptable value range: From 0 to 5
Dogtag skill bonus multiplier = 2

## Hall of Fame skill leveling bonus gained per unique trophy item. Unique meaning one of each item. Applies on top of the bonus gained based on the item's value
# Setting type: Double
# Default value: 0.2
# Acceptable value range: From 0 to 1
Unique trophy skill bonus = 0.2

Non-Dogtag Item buff bonus multiplier = 1

Dogtag buff bonus multiplier = 1

Buff bonus per unique item = 0.1

